::selection {
    color: rgb(0, 136, 255);
    background: #fff;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
}

body{
    background-image:url("bgc_login.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.container{

    position:relative;

    width:60rem;
    max-width:95%;

    height:34rem;

    color:#fff;

    text-align:center;

    backdrop-filter:blur(10px);

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    border-radius:12px;

    padding:20px;

}

.welcom_txt{

    margin-top:20px;

    font-size:26px;

}

.inputlabel{

    position:absolute;
    /* display: none; */

}

/* Username */

#username{

    top:7rem;

    right:6rem;

}

#UserName{

    top:9rem;

    left:5rem;

    width:50rem;

    height:2.2rem;

    border:none;

    outline:none;

    background:transparent;

    color:white;

    border-bottom:1px solid white;

}

#UserName:focus{

    border-bottom:1px solid rgb(0,242,255);

}

/* Invite Code */

#UserCode{

    top:15rem;

    right:5rem;

}

#UserCode{

    top:17rem;

    left:5rem;

    width:85%;

    height:2.2rem;

    border:none;

    outline:none;

    background:transparent;

    color:white;

    border-bottom:1px solid white;

}

#UserCode:focus{

    border-bottom:1px solid rgb(0,242,255);

}

#usercode {
    right: 6rem;
    top: 15rem;
}

/* Button */

#btn{

    top:25rem;

    right:6rem;

    width:50rem;

    height:3rem;

    border:none;

    border-radius:8px;

    background:rgb(0,255,251);

    color:#000;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

#btn:hover{

    background:rgb(0,190,187);

}

/* Eye Icon */

.size-7{

    position:absolute;

    left:5rem;

    top:17.5rem;

    width:24px;

    color:white;

    cursor:pointer;

}

#userError, #codeError {
    display: none;
}

/* Login Link */

.Signin{

    position:absolute;

    bottom:1rem;

    width:100%;

    left:0;

    text-align:center;

}

.Gsignup {
    text-decoration: none;

    color: rgb(91, 157, 157);
}

/* Responsive */

@media(max-width:768px){

.container{

    height:auto;

    padding-bottom:40px;

}

.inputlabel{

    position:static;

    display:block;

    width:90%;

    margin:0 auto;

    text-align:right;

}

#UserName,
#Password,
#btn{

    width:90%;

    left:auto;

    margin-top:8px;

    margin-bottom:25px;

}

#username,
#password{

    margin-top:25px;

}

.size-7{

    display:none;

}

.Signin{

    position:static;

    margin-top:25px;

}

.welcom_txt{

    font-size:22px;

}

}